* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: #8D918D;
}

@media only screen and (min-width:0px) and (max-width:576px) {

.body {
    display: grid;
}

.header {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: space-between;
    margin: 30px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

.headermenu {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
    align-content: center;
    font-weight: 300;
    align-items: center;
}

.headerabout {
    background-color: #F67280;
    border-style: solid;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    text-align: center;
    padding-top: 28px;
    border: 0px;
    color: white;
}

.title {
    font-size: 2.5rem;
}

.firstcolorletter {
    color: #F67280;
}

.content {
    background-image: url(../image/background.jpg);
    background-size: cover;
    padding-bottom: 10px;
}

.overlapphotos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 65%;
    margin-left: 30px;
    margin-right: 230px;
    padding-top: 50px;
    margin-bottom: 50px;
}

.Welcome {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

.clickhere {
    border-left: solid #F67280 5px;
    padding-left: 20px;
}

.welcomecontent {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 20px;
}

.category {
    background-color: #3A3B3C;
}

.categoryflex {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 20px;
    padding: 50px;
}

.categorybox {
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-content: space-between;
    gap: 20px;
}

.headings {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.description {
    color: white;
    font-weight: bold;
}

.readmore {
    padding: 10px;
    background-color: #F67280;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

.list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 100px;
}

.aboutmeright {
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-content: space-between;
    height: 375px;
}

.aboutme {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
}

.lista {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
}

.latestphotoshootrow {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 15px;
}

.latestphotoshootcolumn {
    display: grid;
    grid-template-rows: auto auto auto auto;
    width: 100%;
    gap: 25px;
}

.imagesection {
    display: grid;
    margin: 50px;
    gap: 20px;
    margin-bottom: 0px;
}

.aboutmecolumn {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    gap: 35px;
}

.imageflex {
    display: grid;
    grid-template-rows: auto;
    align-content: center;
    width: 300px;
}

.aboutmeheading {
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
}

.borderline {
    border-style: solid;
    border-color: #F67280;
    border-width: 1px;
}

.whiteletters {
    color: white;
}

.footerflex {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.footericons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    gap: 20px;
}

.roundicons {
    border-color: #F67280;
    border-width: 3px;
    border-radius: 25px;
    background-color: #F67280;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

.copyright {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    font-size: 1.25rem;
    color: #F67280;
    font-weight: bolder;
}
}

@media only screen and (min-width:577px) and (max-width:1400px) {

.body {
    margin: 0px;
}

.header {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: space-between;
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

.headermenu {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
    align-content: center;
    font-weight: 300;
    align-items: center;
}

.headerabout {
    background-color: #F67280;
    border-style: solid;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    text-align: center;
    padding-top: 28px;
    border: 0px;
    color: white;
}

.title {
    font-size: 2.5rem;
}

.firstcolorletter {
    color: #F67280;
}

.content {
    background-image: url(../image/background.jpg);
    background-size: cover;
    padding-bottom: 10px;
}

.overlapphotos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 65%;
    margin-left: 60px;
    margin-right: 230px;
    padding-top: 50px;
    margin-bottom: 50px;
}

.Welcome {
    display: grid;
    grid-template-columns: 25% 75%;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
    width: 86%;
}

.clickhere {
    border-left: solid #F67280 5px;
    padding-left: 20px;
}

.welcomecontent {
    font-size: 2.5rem;
    color: white;
}

.category {
    background-color: #3A3B3C;
}

.categoryflex {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    gap: 20px;
    padding: 50px;
}

.categorybox {
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-content: space-between;
    gap: 20px;
}

.headings {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.description {
    color: white;
    font-weight: bold;
}

.readmore {
    padding: 10px;
    background-color: #F67280;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

.list {
    display: grid;
    grid-template-columns: auto auto;
}

.aboutmeright {
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-content: space-between;
    height: 375px;
}

.aboutme {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
}

.lista {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
}

.latestphotoshootrow {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 15px;
}

.imagegrid {
    display: grid;
    grid-template-rows: auto auto auto;
    align-content: space-between;
    height: 400px;
}

.latestphotoshootcolumn {
    display: grid;
    grid-template-rows: auto auto auto auto;
    width: 100%;
    gap: 25px;
}

.imagesection {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    margin: 50px;
    gap: 20px;
    margin-bottom: 0px;
}

.aboutmecolumn {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    gap: 35px;
}

.imageflex {
    display: grid;
    grid-template-rows: auto;
    align-content: center;
    width: 300px;
}

.aboutmeheading {
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
}

.borderline {
    border-style: solid;
    border-color: #F67280;
    border-width: 1px;
}

.whiteletters {
    color: white;
}

.footerflex {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.footericons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    gap: 20px;
}

.roundicons {
    border-color: #F67280;
    border-width: 3px;
    border-radius: 25px;
    background-color: #F67280;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

.copyright {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    font-size: 1.25rem;
    color: #F67280;
    font-weight: bolder;
}

}

@media only screen and (min-width:1400px) {

.body {
    margin: 0px;
}

.header {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: space-between;
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

.headermenu {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
    align-content: center;
    font-weight: 300;
    align-items: center;
}

.headerabout {
    background-color: #F67280;
    border-style: solid;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    text-align: center;
    padding-top: 28px;
    border: 0px;
    color: white;
}

.title {
    font-size: 2.5rem;
}

.firstcolorletter {
    color: #F67280;
}

.content {
    background-image: url(../image/background.jpg);
    background-size: cover;
    padding-bottom: 10px;
}

.overlapphotos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 65%;
    margin-left: 60px;
    margin-right: 230px;
    padding-top: 50px;
    margin-bottom: 50px;
}

.Welcome {
    display: grid;
    grid-template-columns: 25% 75%;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
    width: 86%;
}

.clickhere {
    border-left: solid #F67280 5px;
    padding-left: 20px;
}

.welcomecontent {
    font-size: 2.5rem;
    color: white;
}

.category {
    background-color: #3A3B3C;
}

.categoryflex {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    gap: 20px;
    padding: 50px;
}

.categorybox {
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-content: space-between;
    gap: 20px;
}

.headings {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.description {
    color: white;
    font-weight: bold;
}

.readmore {
    padding: 10px;
    background-color: #F67280;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

.list {
    display: grid;
    grid-template-columns: auto auto;
}

.aboutmeright {
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-content: space-between;
    height: 375px;
}

.aboutme {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
}

.lista {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
}

.latestphotoshootrow {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 15px;
}

.imagegrid {
    display: grid;
    grid-template-rows: auto auto auto;
    align-content: space-between;
}

.latestphotoshootcolumn {
    display: grid;
    grid-template-rows: auto auto auto auto;
    width: 100%;
    gap: 25px;
}

.imagesection {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    margin: 50px;
    gap: 20px;
    margin-bottom: 0px;
}

.aboutmecolumn {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    gap: 35px;
}

.imageflex {
    display: grid;
    grid-template-rows: auto;
    align-content: center;
    width: 300px;
}

.aboutmeheading {
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
}

.borderline {
    border-style: solid;
    border-color: #F67280;
    border-width: 1px;
}

.whiteletters {
    color: white;
}

.footerflex {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.footericons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    gap: 20px;
}

.roundicons {
    border-color: #F67280;
    border-width: 3px;
    border-radius: 25px;
    background-color: #F67280;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

.copyright {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    font-size: 1.25rem;
    color: #F67280;
    font-weight: bolder;
}

}